<footer>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <h1><a href="https://github.com/Natasha-rare/Programming-project"><img style="width: 15px;" src="/static/img/git.png" href="https://github.com/Natasha-rare/Programming-project"></a><br>
        Служба поддержки: avtukhovich.natalia@lit1533.ru<br>
        ©TeamLit1533<br>
        2020</h1>
</footer>