<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Programming Python{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base-css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
<script>
  window.onload = function () {
    document.body.classList.add('loaded_hiding');
    window.setTimeout(function () {
      document.body.classList.add('loaded');
      document.body.classList.remove('loaded_hiding');
    }, 500);
  }
</script>
</head>

<body style="overflow: scroll">


<div class="preloader">
    <img class="beda" src="/static/img/git.png">
  <div class="preloader__row">
      <img class="beda" src="/static/img/git.png">
  </div>
</div>


<header style="width: 100%">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
	<div class="overlay">

        <table class="vv">
            <tr>
                <th><div class="gradz"><h5>P</h5></div></th>
                <th class="vv2">rogramming</th>
                <th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                 <th><div class="gradz"><h5>P</h5></div></th>
                <th class="vv2">ython</th>
            </tr>
        </table>
    <h3>Научись программировать на Python с нуля</h3>

    <table style="text-align: right; align: right; width: 20%; transform: translate(170%,-170%); height: 5px" >
         <tr>
             <th>
                    {% if user > 0 %}
        <a href="/accounts/{{user}}/"><button>ЛИЧНЫЙ КАБИНЕТ</button></a>
    {% endif %}
    {% if user == None %}
        <a href="accounts/login/"><button class="button-container">ВХОД</button></a>
    {% endif %}</th>
            <th>
                {% if user > 0 %}
        <a href="accounts/logout/"><button>ВЫЙТИ</button></a>
                {% endif %}
            {% if user == None %}
        <a href="accounts/signup/"><button class="button-container">РЕГИСТРАЦИЯ</button></a>
             {% endif %}

            </th>
         </tr>
    </table>

<br>


<!-- <a href="/bot/"><svg class="liquid-button"-->
<!--     data-text="СОЗДАТЬ"-->
<!--     data-force-factor="0.1"-->
<!--     data-layer-1-viscosity="0.5"-->
<!--     data-layer-2-viscosity="0.4"-->
<!--     data-layer-1-mouse-force="400"-->
<!--     data-layer-2-mouse-force="500"-->
<!--     data-layer-1-force-limit="1"-->
<!--     data-layer-2-force-limit="2"-->
<!--     data-color1=" #24303F"-->
<!--     data-color2="#fc6767"-->
<!--     data-color3="#ec008c"></svg></a>-->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.4/dat.gui.min.js'></script>-->
<!--<script src="/static/js/button.js"></script>-->
		</div>
</header>




<table align="center" style=" margin: auto; width: 90%;
	 text-align: center; border-spacing: 30px 60px;">
    <tr>
        <th class="block"><div><img src="/static/img/lock.png" border="0" height="100"><br>Безопасность</div><br><h6>Персональные данные <br>пользователей зашифрованы</h6><br><div style="font-size: 6pt">Мы честно ничего не будем трогать</div></th>
        <th class="block"><div><img src="/static/img/medal.png" border="0" height="100"><br>Понятность</div><br><h6>Научим программировать с нуля</h6></th>
        <th class="block"><div ><img src="/static/img/speed.png" border="0" height="100"><br>Скорость</div><br><h6>Высокая скорость обучения <br>программированию на Python</h6></th>
    </tr>
    <tr>
        <th class="block"><div ><img src="/static/img/oom.png" border="0" height="100"><br>Удобный интерфейс</div><br><h6>Интерфейс в стиле миинимализма <br>не вызовет трудностей</h6></th>
        <th class="block"><div ><img src="/static/img/2snails.png" border="0" height="100"><br>Универсальность</div><br><h6>Удобно учителям и ученикам</h6></th>
       <th class="block"> <div ><img src="/static/img/sup.png" border="0" height="100"><br>Поддержка</div><br><h6>Круглосуточная работа <br>службы поддержки</h6></th>
    </tr>
</table>

{% include "footer.html" %}

</body>
</html>

<script>
    function redirectReg(){ window.location = 'accounts/signup/'; }
    function redirectIn(){ window.location = 'accounts/login/'; }
    function redirectOut(){ window.location = 'accounts/logout/'; }
    function redirectLK(){ window.location = 'lk/{{user.id}}/'; }
</script>


