@media screen {

	html {
		width: 100%;

	}

	body {
		overflow: auto; /*прокрутка при необходимости*/
		*margin: 0; /*отступ*/
		width: 100%; /*ширина*/
		background-attachment: fixed; /*фон не подвижен*/
		background-repeat: no-repeat; /*фон не меняется*/
		background-color: #006b3c; /*основной цвет -- можно сделать что-то более весёленькое*/
		height: 100vh; /*высота*/

	}

	body:before {
		content: '';
		/*background: #c4252a url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cheap_diagonal_fabric.png);
		 background-blend-mode: multiply;
         mix-blend-mode: multiply;
         position: relative;
         */
         /*Отступы*/
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10; /*3д эффект (накладка изображений)*/
		/*background: linear-gradient(-45deg, #aa4b6b,#6b6b83,#3b8d99);*/
		/*background: linear-gradient(-45deg, #0F2027, #203A43, #2C5364);
        background-size: 400% 400%;
        *animation: gradient 10s ease infinite;
        background-attachment: fixed;*/

	}

    /*холст*/
	canvas {
		opacity: 0.0; /*прозрачность*/
		transition: 1s opacity cubic-bezier(0.55, 0, 0.1, 1);  /*движение...*/
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	canvas.ready {
		opacity: 0.9;
		background-attachment: fixed;
		height: 200vh;  /*высота*/
	}

	body > canvas {
		verflow: auto;
		*margin: 0;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-color: #006b3c;
	}


	.help2 {
		overflow: scroll;
	}

	.intro {
		background-attachment: fixed;
		background-repeat: no-repeat;
		position: absolute;  /*элемент абсолютно позиционирован*/

		/*padding: 20px;*/

		left: 50%;
		top: 50%;
		text-align: center;  /*выравнивание текста*/
		color: #fafafa;
		z-index: 10;
		width: 100%;
		max-width: 700px;
		font-family: 'Quicksand', sans-serif;
		text-shadow: 0px 5px 20px black;
	}

	.intro h1 {
		font-size: 40px;
		font-weight: 300;  /*насыщенность цвета*/
		letter-spacing: 2px;  /*отступы между буквами*/
	}

	.intro p {
		letter-spacing: 1px;
		line-height: 24px;
	}

	.intro main {
		font-size: 24pt;
	}


	@keyframes gradient {
		0% {
			background-position: 0% 50%;
			transform: rotate(0deg);
		}
		50% {
			background-position: 100% 50%;
			transform: rotate(180deg);
		}
		100% {
			background-position: 0% 50%;
			transform:rotate(360deg);
		}
	}

	label {
		color: white;
		font-family: 'Quicksand', sans-serif;
	}

	.inputtext {
		color: white;
		font-family: 'Quicksand', sans-serif;
		font-size: 17pt;
	}

	.reg_input:invalid:not(:focus):not(:placeholder-shown) {
		background-image: url('/static/img/no.png');
		background-size: 13%;
		background-repeat: no-repeat;
        background-position: 95%;
	}

	.reg_input:valid:not(:focus):not(:placeholder-shown) {
		background-image: url('/static/img/yes.png');
		background-size: 13%;
		background-repeat: no-repeat;
        background-position: 95%;
	}


	input {
		font-family: 'Quicksand', sans-serif;
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid;
		border-color: white;
		border-image-slice: 1;
		color: white;
		font-size: 17pt;
		height: 34px;
	}


	.mainlabel {
		font-family: 'Quicksand', sans-serif;
		font-size: 48pt;
		color: white;

	}

	.button-container :before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 0;
		width: 100%;
		z-index: -1;
		color: white;
		border-image: linear-gradient(white, whitesmoke);
		transition: .8s cubic-bezier(.165, .84, .44, 1);

	}

     /*ненажатая кнопка при наведении на нее мышки*/
	.button-container:hover {
		background: white;
		color: rgba(0, 0, 0, 0.5); /*нужно разобраться с прозрачным текстом на кнопках, потому что пока не работает*/
	}

    /*до экнопки*/
	.button-container:hover:before {
		bottom: 0%;
		top: auto;
		height: 100%;

	}

	/*hhh*/
	.custom-select {
		position: relative;
		font-family: 'Quicksand', sans-serif;
	}

	.custom-select select {
		display: none; /*hide original SELECT element:*/
	}

	.select{
        display: block;
        width: 100%; /* от ширины блока div */
        padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
        background: none; /* убираем фон */
        border: 1px solid #ccc; /* рамка */
        border-radius: 3px;/* скругление полей формы */
        -webkit-appearance: none;/* Chrome */
        -moz-appearance: none;/* Firefox */
        appearance: none;/* убираем дефолнтные стрелочки */
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
        color: #fff;
    }

    .radio{
        background: none;
        color: #000;
    }

	.select-selected {
		font-family: 'Quicksand', sans-serif;
		background:none;
		/*background-color: rgba(0, 0, 0, 0);*/
		border: 2px solid;
		border-color: white;
		border-image-slice: 1;
		color: white;
		height: 34px;
	}

	/*style the arrow inside the select element:*/
	.select-selected:after {
		position: absolute;
		content: "";
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
	}

	/*point the arrow upwards when the select box is open (active):*/
	.select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
	}

    option{
      color:#fff;
      background:#24303F;
    }

	/*style the items (options), including the selected item:*/
	.select-items div, .select-selected {
		color: #ffffff;
		background-color:none;
		padding: 8px 16px;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
		user-select: none;
	}

	/*style items (options):*/
	.select-items {
		position: absolute;
		background-color: none;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
	}

	/*hide the items when the select box is closed:*/
	.select-hide {
		display: none;
	}

	.select-items div:hover, .same-as-selected {
		background-color: none;
	}


	.select-box {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 auto;
		font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
		font-size: 18px;
		color: #60666d;
	}

    /*Ландшафтный экран*/
	@media (min-width: 768px) {
		.select-box {
			width: 70%;
		}
	}

    /*настольный дсисплей*/
	@media (min-width: 992px) {
		.select-box {
			width: 50%;
		}
	}

	/* Большой дисплей */
	@media (min-width: 1200px) {
		.select-box {
			width: 30%;
		}
	}
    /*Выбранный элемент*/
	.select-box__current {
		position: relative;
		box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		outline: none;
	}

    /*Элемент на который наведен курсор*/
	.select-box__current:focus + .select-box__list {
		opacity: 1;
		animation-name: none;
	}

	.select-box__current:focus + .select-box__list .select-box__option {
		cursor: pointer;
	}

	.select-box__current:focus .select-box__icon {
		transform: translateY(-50%) rotate(180deg);
	}

	.select-box__icon {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		width: 20px;
		opacity: 0.3;
		transition: 0.2s ease;
	}

	.select-box__value {
		display: flex;
	}

    /*вводимые текст*/
	.select-box__input {
		display: none;
	}

	.select-box__input:checked + .select-box__input-text {
		display: block;
	}

	.select-box__input-text {
		display: none;
		width: 100%;
		margin: 0;
		padding: 15px;
		background-color: #fff;
	}

	.select-box__list {
		position: absolute;
		width: 100%;
		padding: 0;
		list-style: none;
		opacity: 0;
		animation-name: HideList; /*название анимации*/
		animation-duration: 0.5s; /*продолжительность*/
		animation-delay: 0.5s; /*хадержка анимации*/
		animation-fill-mode: forwards; /*картинка остается*/
		animation-timing-function: step-start; /*пошаговая анимация*/
		box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	}

	.select-box__option {
		display: block;
		padding: 15px;
		background-color: #fff;
	}

	.select-box__option:hover, .select-box__option:focus {
		color: #546c84;
		background-color: #fbfbfb;
	}

	@keyframes HideList {
		from {
			transform: scaleY(1);
		}
		to {
			transform: scaleY(0);
		}
	}

	.liquid-button {
		margin: auto;
		font-family: 'Quicksand', sans-serif;
	}

	.liquid-button path {
		cursor: pointer;
		font-family: 'Quicksand', sans-serif;
	}

	a, p {
		text-decoration: none;
		color: white;
	}

	.grad {
		background: linear-gradient(#ec008c, #fc6767); /* Градиент для текста */
	}

	.grad > main {
		font-size: 60pt;
		font-family: 'Quicksand', sans-serif;
		margin: 0; /* Убираем отступы */
		background: white; /* Белый цвет фона */
		mix-blend-mode: screen; /* Режим наложения */
	}

	.help {
		position: fixed;
	}

	.block {
		box-shadow: 0px 0px 10px lightgray;
		color: black;
		/*background: linear-gradient(45deg, white, #fc6767);*/
		background-color: white;
		height: 400px;
		width: 30%;
		text-align: center;
		font-family: 'Bellota Text', cursive;
		font-size: 18pt;
		position: relative;
		/*text-shadow: 0px 5px 20px black;*/
		/*animation: gradient 5s ease infinite;
        background-size: 500% 500%;*/
	}

	.block h6 {
		font-size: 10pt;

	}


	th {
		font-family: 'Quicksand', sans-serif;
	}

	.bot-table {
		font-family: 'Quicksand', sans-serif;
		align: center;
		width: 100%;
	}


	.grad {
		background: linear-gradient(#ec008c, #fc6767); /* Градиент для текста */
	}

	.grad > h2 {
		font-size: 48pt;
		font-family: 'Quicksand', sans-serif;
		margin: 0; /* Убираем отступы */
		background: white; /* Белый цвет фона */
		mix-blend-mode: screen; /* Режим наложения */
	}


	.transp-but {
		border: medium none;
		background-image: none;
		background: transparent;
		background-color: transparent;
	}

	button {
		border: none;
		outline: none;
		padding: 10px 20px;
		border-radius: 50px;
		color: #333;
		background: #fff;
		margin-bottom: 50px;
		box-shadow: 0 3px 20px 0 #0000003b;
	}

	button:hover {
		cursor: pointer;
	}

}



    ul {
            font-family: 15px  'Quicksand', sans-serif;
            text-align: justify;

            /* Обнуляем для родителя*/
            line-height: 0;
            font-size: 1px; /* 1px для Opera */
    }

    ul li  {
            background: none;
            width: 25%;
            height: 38px;
            display: inline-block;
            text-align: center;
            /*border: 1px solid #fff;
            order: 1px solid #ccc; *//* рамка *//*
            border-radius: 3px;*//* скругление полей формы */

            /* Востанавливаем у потомков, кроме последнего*/
            line-height: normal;
            font-size: 17px;

            /* Без него в Opera будет отступ под элементами */
            vertical-align: top;
            position:relative;
            left: 50%
            /* эмуляция inline-block для IE6-7*/
            //display : inline;
            //zoom : 1;
    }
    ul li.helper {
            width: 100%;
            height: 0px;
            visibility: hidden;
            overflow: hidden;
    }
    .first { width: 150px;}
    .third { width: 200px;}

/*ячейка*/
th {
    text-decoration: none;
    font-weight: 500;
    position: relative;

}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/*
.beda {

    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}*/

/*загрузка*/
.preloader {
  position: relative;
  /* координаты положения */

  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #24303F;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  /*z-index: 1001;*/
	top: 50%;
  left: 50%;
	transform: translate(-17%, -17%);
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  /*width: 70px;
  height: 70px;*/
  /*margin-top: -35px;
  margin-left: -35px;*/
  text-align: center;
  /*animation: preloader-rotate 2s infinite linear;*/
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.center {
	width: 100%;
	margin: 0;
	position: relative;
    left: 50%;
	top: 50%;
    transform: translate(-50%, 50%);
}

.intro h9 {
	font-family: Quicksand, sans-serif;
	font-size: 15pt;
}


