/*.bots {
    box-shadow: 0px 0px 5px lightgray;
    color: black;
    padding: 50px;
    background: white;
    height: 30px;
    width: 60px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
}*/

/*таблица*/
table {
    width: 100%;
    border-spacing: 30px 40px;
}

th {
    text-decoration: none;
    font-weight: 500;
    position: relative;

}

tr {
	cursor: pointer;
}

/*переход*/
.transp-but {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

