<footer>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <h1><a href="https://gitlab.informatics.ru/team-vadim-/virtual-person.git"><img style="width: 15px;" src="/static/img/git.png" href="https://gitlab.informatics.ru/team-vadim-/virtual-person.git"></a><br>
        Служба поддержки: virtual.vadik@mail.ru<br>
        ©TeamVadim<br>
        2020</h1>
</footer>